*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #2c1a4d;
}

/*este style es el tamaño del logo con las imagenes*/
#sprite {
    background: image('imagenes/vecteezy_cat-playing-tongue-illustration-of-cute-cat-playing-with_9551667-1.jpg') no-repeat;
	width: 60px;
	height: 60px;
    border-radius: 50px;
}

/*se aplico el ID en el div del logo*/
#container-logo {
    border: 3px solid #e0cffc;
    margin: auto;
    border-radius: 50px; /* Add this line to give round edges */
    background-color: white;
    font-size-adjust: 20px;
    font-size: 20px;
    
}

.navbar a:hover{
    color: #8540f5;
    text-decoration: none;
    background-color: #e2d9f3;
    border-radius: 50px;
    transition: 0.6s;
    /**/
}

.list-unstyled a:hover{
    color: #8540f5;
    border-color: #432874;
    background-color: #e2d9f3;
}

.mb-1 button:hover{
    color: #8540f5;
    border-color: #432874;
    background-color: #e2d9f3;
    border-radius: 50px;
}

div a {
    color: #2c1a4d;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: #8540f5;
    border-color: #432874;
    background-color: #e2d9f3;
}

.dropdown a:hover{
    color: #8540f5;   
}

/* id de colores custom de botones*/
#btn-oscuro{
    background-color: #a370f7;
    color: white;
    border-color: #c29ffa;
    border-radius: 50px;

}

#btn-oscuro:hover {
    background-color: #8540f5;
    color: white;
    
}

#btn-claro{
    background-color: #f7f7f7;
    color: #a370f7;
    border-color: #c29ffa;
    border-radius: 50px;
}
#btn-claro:hover{
    background-color: #e2d9f3;
    color: #a370f7;
    border-color: #c29ffa;
    border-radius: 50px;
}

/*------------ Aqui empiezan los style que van debajo del header ------------*/
.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    

}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure that the body fills the entire viewport height */
    display: flex;
    flex-direction: column;
}

footer {
    height: 5%;
    background-color: #e2d9f3;
    color: #432874;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom, very important */
    width: 100%;
    
}

.container {
    flex: 1; /* Grow and fill remaining space */
    margin-bottom: 60px; 
}

/*alinea los elementos del las filas (rows)*/
.container .row{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    
    
}

.row {
    width: 100%;
    margin: 0 -5px;
    padding-top: 10px;
    margin-bottom: 10px;
    
}

/*-comienzo fila de cards-*/
.row-card{
    margin: 0 -5px;
    padding-top: 10px;
    margin-bottom: 10px;
    
}

.row-cards:after {
    content: "";
    display: table;
    clear: both;
}
/*-fin fila de cards-*/


.col-md-6 {
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: 10px;
}

.column-card {
    float: left;
    width: 25%;
    height: 25%;
    padding: 0 5px;
    text-decoration: none;
    margin-bottom: 15px;
    
}

.card{
    height: 150px;
}

@media screen and (max-width: 600px) {
    .column-card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-color: #8540f5;
  }

  
  .row-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.column-card {
    width: calc(25% - 5px); /* Adjust the width to fit 3 cards in a row */
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .column-card {
        width: calc(50% - 10px); /* Adjust the width to fit 2 cards in a row for smaller screens */
    }
}

@media (max-width: 768px) {
    .column-card {
        width: 100%; /* Full width for smaller screens */
    }
}

#columncard {
    float: left;
     width: 25%;
    padding: 0 10px;
}
/*-aqui van los style del carousel-*/
/* Custom CSS for carousel indicators */
.carousel-indicators button {
    background-color: #8540f5 !important;

}

/* Custom CSS for carousel control buttons not in use yet */
.carousel-control-prev,
.carousel-control-next {
    
    
}

/* Custom CSS for carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #8540f5 !important;
    border-color: black !important;
}
/*--------------------------------*/


.d-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30rcap;

}


/*fin del style carousel*/

.thumbnail-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}



/*------comienzo del style del buscador------*/
/*bordes redondos del input*/
.d-flex input{
    border-radius: 50px; /* Add this line to give round edges */
    
}
/*bordes redondos del boton y fijacion sobre el input*/
.d-flex .btn{
    right: 0;
    
    margin-left: -106px;
}
/*id para encurvar orillas*/
#curvo{
    border-radius: 50px; /* Add this line to give round edges */ 
}

#curvo2{
    border-radius: 25px; /* Add this line to give round edges */ 
}
/*------fin del style del buscador------*/


/*------Style para producto---------*/


#body-producto {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Estilos del contenido */
.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Estilos de la columna de la imagen */
.imagen {
    flex: 1;
    max-width: 60%;
    margin-right: 0%;
}

.imagen img {
    width: 100%;
    height: auto;
}

/* Estilos de la columna de detalles del producto */
.detalles {
    flex: 1;
    max-width: 60%;
}


/*styles para sidebar*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }
/*fin styles sidebar*/