*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/*este style es el tamaño del logo*/
#sprite {
    background: image('imagenes/vecteezy_cat-playing-tongue-illustration-of-cute-cat-playing-with_9551667-1.jpg') no-repeat;
	width: 60px;
	height: 60px;
    border-radius: 50px;
}

#container-logo {
    border: 2px solid lavender;
    margin: auto;
    border-radius: 50px; /* Add this line to give round edges */
    background-color: white;
    font-size-adjust: 20px;
    font-size: 20px;

}

/*------------ Aqui empiezan los style que van debajo del header ------------*/
.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: lavender;
}

/*alinea los elementos del las filas (rows)*/
.container .row{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

.row {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

/*redondeo del boton buscar*/
.d-flex input{
    border-radius: 50px; /* Add this line to give round edges */
    
}

#curvo{
    border-radius: 50px; /* Add this line to give round edges */ 
}