*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #2c1a4d;
}

/*este style es el tamaño del logo con las imagenes*/
#sprite {
    background: image('imagenes/vecteezy_cat-playing-tongue-illustration-of-cute-cat-playing-with_9551667-1.jpg') no-repeat;
	width: 60px;
	height: 60px;
    border-radius: 50px;
}

/*se aplico el ID en el div del logo*/
#container-logo {
    border: 3px solid #e0cffc;
    margin: auto;
    border-radius: 50px; /* Add this line to give round edges */
    background-color: white;
    font-size-adjust: 20px;
    font-size: 20px;
    
}

.navbar a:hover{
    color: #8540f5;
    text-decoration: none;
    background-color: #e2d9f3;
    border-radius: 50px;
    transition: 0.6s;
    /**/
}

.dropdown-menu a:hover {
    color: #8540f5;
    border-color: #432874;
    background-color: #e2d9f3;
}

/* id de colores custom de botones*/
#btn-oscuro{
    background-color: #a370f7;
    color: white;
    border-color: #c29ffa;

}

#btn-oscuro:hover {
    background-color: #8540f5;
    color: white;
    
}

#btn-claro{
    background-color: #f7f7f7;
    color: #a370f7;
    border-color: #c29ffa;
    border-radius: 50px;
}
#btn-claro:hover{
    background-color: #e2d9f3;
    color: #a370f7;
    border-color: #c29ffa;
    border-radius: 50px;
}

/*------------ Aqui empiezan los style que van debajo del header ------------*/
.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    

}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure that the body fills the entire viewport height */
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #e2d9f3;
    color: #432874;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom, very important */
    width: 100%;
    
}

.container {
    flex: 1; /* Grow and fill remaining space */
    margin-bottom: 60px; 
}

/*alinea los elementos del las filas (rows)*/
.container .row{
    width: 100%;
    margin: 0 auto;
    
    
}

.row {
    width: 100%;
    margin: 0 -5px;
    padding-top: 10px;
    margin-bottom: 10px;
    
}

/*-comienzo fila de cards-*/
.row-cards{
    margin: 0 -5px;
    padding-top: 10px;
    margin-bottom: 10px;
    
}

.row-cards:after {
    content: "";
    display: table;
    clear: both;
}
/*-fin fila de cards-*/


.col-md-6 {
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: 10px;
}

.column-card {
    float: left;
    width: 25%;
    padding: 0 10px;
    text-decoration: none;
    margin-bottom: 15px;
    
}

@media screen and (max-width: 600px) {
    .column-card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }



#columncard {
    float: left;
     width: 25%;
    padding: 0 10px;
}
/*-aqui van los style del carousel-*/
/* Custom CSS for carousel indicators */
.carousel-indicators button {
    background-color: #8540f5 !important;

}

/* Custom CSS for carousel control buttons not in use yet */
.carousel-control-prev,
.carousel-control-next {
    
    
}

/* Custom CSS for carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #8540f5 !important;
    border-color: black !important;
}
/*--------------------------------*/


.d-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30rcap;

}


/*fin del style carousel*/

.thumbnail-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}



/*------comienzo del style del buscador------*/
/*bordes redondos del input*/
.d-flex input{
    border-radius: 50px; /* Add this line to give round edges */
    
}
/*bordes redondos del boton y fijacion sobre el input*/
.d-flex .btn{
    right: 0;
    
    margin-left: -106px;
}
/*id para encurvar orillas*/
#curvo{
    border-radius: 50px; /* Add this line to give round edges */ 
}
/*------fin del style del buscador------*/


/*------Style para producto---------*/


#body-producto {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Estilos del contenido */
.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Estilos de la columna de la imagen */
.imagen {
    flex: 1;
    max-width: 60%;
    margin-right: 0%;
}

.imagen img {
    width: 100%;
    height: auto;
}

/* Estilos de la columna de detalles del producto */
.detalles {
    flex: 1;
    max-width: 60%;
}